body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}
/*
.w {
   background-image: url("components/images/tom1.png");
}

.a {
  background-image: url("components/images/tom2.png");
}

.s {
  background-image: url("components/images/tom3.png");

}

.d {
  background-image: url("components/images/tom4.png");
}

.j {
  background-image: url("components/images/snare.png");
}

.k {
  background-image: url("components/images/crash.png");
}

.l {
  background-image: url("components/images/kick.png");
} */

.set {
  margin: 2rem auto 1rem;
}
.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
.primaryBtn {
  background: #008cff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  margin: 0 4px;
  text-transform: uppercase;
}
